body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #354463;
  color: white;
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  text-align: center;
  background-color: azure;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  text-align: center;
  background-color: azure;

}

a{
    text-decoration: none;
}

li {
  display: inline;
 
}

h1 {
  margin-top: 50px;
  text-align: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1px;
}

.container {
  align-self: center;
}

input {
  margin: 10px;
}

label[for="email"] {
  padding-right: 90px;
}

label[for="name"] {
  padding-right: 55px;
}

label[for="password"] {
  padding-right: 55px;
}

#checkbox {
  margin-left: -80px;
}

button {
  border-radius: 30px;
  border-color: aliceblue;
  height: 40px;
  width: 100px;
  margin-top: 15px;
  color: gray;
  transition: 0.1s ease-in;
}

button:hover {
  color: white;
  box-shadow: inset -3.6em 0 0 0 #354463, inset 3.6em 0 0 0 #354463;
}

p {
    transform: translate(570px,150px);
}

@media screen and (max-width:765px){
    p {
        transform: translate(150px,150px);
    }
}